img {
  width: 100%;
  height: auto;
}

a {
  color: #000000;
  font-weight: bold;
  font-size: 100%;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: #000000;
  line-height: 1.7;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

/*--------------------- header--------------------- */

.header {
  height: 70px;
  line-height: 70px;
}

.header-title {
  font-size: 180%;
  padding: 0px 40px;
}

.header__nav {
  margin-right: 40px;
}

.header__nav-list li {
  margin-right: 25px;
  font-size: 140%;
}

.header__nav-list li:last-child {
  margin-right: 0;
}

.header__nav-list-link {
  height: 70px;
  display: inline-block;
}
/*--------------------- ハンバーガーメニュー--------------------- */
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
/*--------------------- ドロワーメニュー--------------------- */
a {
  text-decoration: none;
  color: blue;
}
.nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: 0.7s;
  text-align: center;
}
.nav ul {
  padding-top: 80px;
}
.nav ul li {
  list-style-type: none;
  margin-top: 50px;
}
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in {
  transform: translateX(100%);
}
/*--------------------- 理念--------------------- */
.recruit__item {
  height: 700px;
  position: relative;
  width: 100%;
  display: block;
  transition: 0.4s;
}
.recruit__item2 {
  height: 300px;
  position: relative;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.recruit__item:hover {
  transition: 0.4s;
}

.recruit__item--first {
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
}

.recruit__item--second {
  background: black no-repeat;
  background-size: cover;
}

.recruit__item-ttl {
  position: absolute;
  width: 70%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
}

.recruit__item-ttl1 {
  position: absolute;
  width: 70%;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 18px;
}

.recruit__item-ttl2 {
  position: absolute;
  width: 90%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

.recruit__item-ttl3 {
  position: absolute;
  width: 90%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
}
/*--------------------- サービス--------------------- */
.service {
  padding: 60px;
}

.service-title {
  font-size: 30px;
  text-align: center;
}

.service_png-position {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.service.png {
  
}

.service1-title {
  font-size: 20px;
  font-weight: bolder;
}

.service1-explanation {
  font-size: 15px;
}

.practice__btn {
  width: 300px;
  padding: 10px 0;
  color: #fff;
  background: rgb(201, 0, 0);
  text-align: center;
  margin: 30px auto 0;
  display:block;
}