img {
  width: 100%;
  height: auto;
}

a {
  color: #707070;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: #707070;
  line-height: 1.7;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.small-container {
  max-width: 760px;
  margin: 80px auto 0;
}

.common__ttl {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.common__sub-ttl {
  font-size: 16px;
  font-family: "Indie Flower", cursive;
  color: #b31566;
}

/*--------------------- header--------------------- */

.header {
  height: 70px;
  line-height: 70px;
}

.header__logo {
  width: 150px;
  margin-left: 40px;
}

.header__nav {
  margin-right: 40px;
}

.header__nav-list li {
  margin-right: 25px;
}

.header__nav-list li:last-child {
  margin-right: 0;
}

.header__nav-list-link {
  height: 70px;
  display: inline-block;
}

/*--------------------- firstview--------------------- */
