img {
  width: 100%;
  height: auto;
}

a {
  color: #000000;
  font-weight: bold;
  font-size: 100%;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: #000000;
  line-height: 1.7;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

.practice__btn {
  width: 300px;
  padding: 10px 0;
  color: #fff;
  background: rgb(201, 0, 0);
  text-align: center;
  margin: 30px auto 0;
  display: block;
}

.practice__btn:hover {
  filter: opacity(70%);
  cursor: pointer;
}
/*--------------------- header--------------------- */

.header {
  height: 70px;
  line-height: 70px;
}

.header-title {
  font-size: 180%;
  padding: 0px 40px;
}

.header__nav {
  margin-right: 40px;
}

.header__nav-list li {
  margin-right: 25px;
  font-size: 140%;
}

.header__nav-list li:last-child {
  margin-right: 0;
}

.header__nav-list-link {
  height: 70px;
  display: inline-block;
}

.header__nav-list-link:hover {
  filter: opacity(70%);
  cursor: pointer;
}
/*--------------------- ハンバーガーメニュー--------------------- */
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
/*--------------------- ドロワーメニュー--------------------- */
a {
  text-decoration: none;
  color: blue;
}
.nav {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: 0.7s;
  text-align: center;
}
.nav ul {
  padding-top: 80px;
}
.nav ul li {
  list-style-type: none;
  margin-top: 50px;
}
.menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
}
.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.menu__line--top {
  top: 0;
}
.menu__line--middle {
  top: 14px;
}
.menu__line--bottom {
  bottom: 0;
}
.menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.menu.open span:nth-of-type(2) {
  opacity: 0;
}
.menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in {
  transform: translateX(100%);
}
/*--------------------- 理念--------------------- */
.mv_png1 {
  position: relative;
}

.mv_png {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.mv_png-title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
  font-weight: bolder;
}
/*---------------------recruit--------------------- */
.small-container {
  width: 85%;
  margin: 80px auto 0;
  margin-bottom: 80px;
}

.common__sub-ttl {
  font-size: 24px;
  border-bottom: 1px solid black;
}

.common__ttl {
  padding-top: 20px;
}

.company-table {
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.company-table__th {
  padding: 10px 0 10px 10px;
  width: 30%;
  text-align: center;
  background: #f5f5f5;
  border: 1px solid black;
}

.company-table__td {
  padding: 10px 0 10px 10px;
  width: 70%;
  border: 1px solid black;
}
/*--------------------- お問い合わせ--------------------- */
.inquiry {
  background-color: #f3f1f1;
  padding: 80px;
}

.inquiry-title {
  font-size: 30px;
  text-align: center;
}

.inquiry-explanation {
  font-size: 15px;
  text-align: center;
}
/*--------------------- footer--------------------- */
a {
  text-decoration: none;
  color: inherit;
}

.footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.footer-ttl {
  text-align: center;
  font-size: 12px;
}

.footer-nav-list {
  display: flex;
  font-weight: lighter;
  width: 100%;
  justify-content: center;
  font-size: 12px;
}

.footer-nav-item:hover {
  filter: opacity(70%);
  cursor: pointer;
}

.line {
  margin: 0 10px;
  width: 1px;
  background-color: rgb(255, 255, 255);
}
